[Unit]
Description=Lpt status leds
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/lptstatusleds
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
